<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
		<h2>Query Generator</h2>
		<h5>Database Details</h5>
		<form action="#" th:action="@{/tableName}" th:object="${database}"  method="POST" >
		<input type="text" th:field="*{ip}" placeholder="URL" class="form-control mb-4 col-4">
		<input type="text" th:field="*{username}" placeholder="Username" class="form-control mb-4 col-4">
		<input type="text" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">
		<input type="text" th:field="*{dbname}" placeholder="Database Name" class="form-control mb-4 col-4">
		<input type="text" th:field="*{portno}" placeholder="Port Number" class="form-control mb-4 col-4">
		<br><br><button type="submit" class="btn btn-info col-2">Submit</button>
		</form>
		</div>
</body>
</html>