<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<div class="container">
		<h2>Query Generator</h2>
		<h5>Select Table Name</h5>
		<form action="#" th:action="@{/select}" th:object="${table}"
			method="POST">
			<select th:field="*{tableName}">
                <option value=""> -- </option>
                <option th:each="table : ${tables}" th:value="${table.tableName}" th:utext="${table.tableName}"/>
         </select>
		<br><br><button type="submit" class="btn btn-info col-2">Submit</button>
		</form>
		</div>
</body>
</html>